.container{
    padding: 1em;
    width: 100%;
}

.title {
    text-align: center;
    padding: 0.25em;
}

.dataContent {
    display: flex;
    justify-content: center;
    border-radius: 0.25em;
    background-color: #cecece;
    margin-bottom: 1rem;
}

.actionButton{
    display: block !important;
}

.buttons{
	display: flex;
    justify-content: center;
    align-items: center;
}

.demoform {
    margin: auto;
    padding: 1rem;
}