.container{
    padding: 1em;
    width: 100%;
}

.title {
    text-align: center;
    padding: 0.25em;
}

.dataContent {
    display: block;
    height: 60vh;
    overflow: auto;
    justify-content: left;
    border-radius: 0.25em;
    background-color: #cecece;
    margin-bottom: 1rem;
}

.actionButton{
    display: block !important;
}

.buttons{
	display: flex;
    justify-content: center;
    align-items: center;
}

.demoform {
    padding: 1rem;
}

@media screen and (max-width: 960px){
    .dataContent {
        width: 100%;
    }

    .demoform{
        width: 100%;
    }
}