@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-0.eot);
  src: url(../assets/fonts/unicons-0.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-0.woff2) format("woff2"), url(../assets/fonts/unicons-0.woff) format("woff"), url(../assets/fonts/unicons-0.ttf) format("truetype"), url(../assets/fonts/unicons-0.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+E800-E83B;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-1.eot);
  src: url(../assets/fonts/unicons-1.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-1.woff2) format("woff2"), url(../assets/fonts/unicons-1.woff) format("woff"), url(../assets/fonts/unicons-1.ttf) format("truetype"), url(../assets/fonts/unicons-1.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+E83C-E877;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-2.eot);
  src: url(../assets/fonts/unicons-2.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-2.woff2) format("woff2"), url(../assets/fonts/unicons-2.woff) format("woff"), url(../assets/fonts/unicons-2.ttf) format("truetype"), url(../assets/fonts/unicons-2.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+E878-E8B3;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-3.eot);
  src: url(../assets/fonts/unicons-3.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-3.woff2) format("woff2"), url(../assets/fonts/unicons-3.woff) format("woff"), url(../assets/fonts/unicons-3.ttf) format("truetype"), url(../assets/fonts/unicons-3.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+E8B4-E8EF;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-4.eot);
  src: url(../assets/fonts/unicons-4.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-4.woff2) format("woff2"), url(../assets/fonts/unicons-4.woff) format("woff"), url(../assets/fonts/unicons-4.ttf) format("truetype"), url(../assets/fonts/unicons-4.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+E8F0-E92B;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-5.eot);
  src: url(../assets/fonts/unicons-5.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-5.woff2) format("woff2"), url(../assets/fonts/unicons-5.woff) format("woff"), url(../assets/fonts/unicons-5.ttf) format("truetype"), url(../assets/fonts/unicons-5.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+E92C-E967;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-6.eot);
  src: url(../assets/fonts/unicons-6.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-6.woff2) format("woff2"), url(../assets/fonts/unicons-6.woff) format("woff"), url(../assets/fonts/unicons-6.ttf) format("truetype"), url(../assets/fonts/unicons-6.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+E968-E9A4;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-7.eot);
  src: url(../assets/fonts/unicons-7.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-7.woff2) format("woff2"), url(../assets/fonts/unicons-7.woff) format("woff"), url(../assets/fonts/unicons-7.ttf) format("truetype"), url(../assets/fonts/unicons-7.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+E9A5-E9E1;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-8.eot);
  src: url(../assets/fonts/unicons-8.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-8.woff2) format("woff2"), url(../assets/fonts/unicons-8.woff) format("woff"), url(../assets/fonts/unicons-8.ttf) format("truetype"), url(../assets/fonts/unicons-8.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+E9E2-EA1D;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-10.eot);
  src: url(../assets/fonts/unicons-10.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-10.woff2) format("woff2"), url(../assets/fonts/unicons-10.woff) format("woff"), url(../assets/fonts/unicons-10.ttf) format("truetype"), url(../assets/fonts/unicons-10.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EA5B-EA96;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-11.eot);
  src: url(../assets/fonts/unicons-11.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-11.woff2) format("woff2"), url(../assets/fonts/unicons-11.woff) format("woff"), url(../assets/fonts/unicons-11.ttf) format("truetype"), url(../assets/fonts/unicons-11.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EA97-EAD4;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-12.eot);
  src: url(../assets/fonts/unicons-12.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-12.woff2) format("woff2"), url(../assets/fonts/unicons-12.woff) format("woff"), url(../assets/fonts/unicons-12.ttf) format("truetype"), url(../assets/fonts/unicons-12.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EAD5-EB11;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-13.eot);
  src: url(../assets/fonts/unicons-13.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-13.woff2) format("woff2"), url(../assets/fonts/unicons-13.woff) format("woff"), url(../assets/fonts/unicons-13.ttf) format("truetype"), url(../assets/fonts/unicons-13.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EB12-EB4D;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-14.eot);
  src: url(../assets/fonts/unicons-14.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-14.woff2) format("woff2"), url(../assets/fonts/unicons-14.woff) format("woff"), url(../assets/fonts/unicons-14.ttf) format("truetype"), url(../assets/fonts/unicons-14.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EB4E-EB89;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-15.eot);
  src: url(../assets/fonts/unicons-15.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-15.woff2) format("woff2"), url(../assets/fonts/unicons-15.woff) format("woff"), url(../assets/fonts/unicons-15.ttf) format("truetype"), url(../assets/fonts/unicons-15.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EB8A-EBC5;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-16.eot);
  src: url(../assets/fonts/unicons-16.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-16.woff2) format("woff2"), url(../assets/fonts/unicons-16.woff) format("woff"), url(../assets/fonts/unicons-16.ttf) format("truetype"), url(../assets/fonts/unicons-16.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EBC6-EC01;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-17.eot);
  src: url(../assets/fonts/unicons-17.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-17.woff2) format("woff2"), url(../assets/fonts/unicons-17.woff) format("woff"), url(../assets/fonts/unicons-17.ttf) format("truetype"), url(../assets/fonts/unicons-17.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EC02-EC3D;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-18.eot);
  src: url(../assets/fonts/unicons-18.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-18.woff2) format("woff2"), url(../assets/fonts/unicons-18.woff) format("woff"), url(../assets/fonts/unicons-18.ttf) format("truetype"), url(../assets/fonts/unicons-18.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EC3E-EC79;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-19.eot);
  src: url(../assets/fonts/unicons-19.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-19.woff2) format("woff2"), url(../assets/fonts/unicons-19.woff) format("woff"), url(../assets/fonts/unicons-19.ttf) format("truetype"), url(../assets/fonts/unicons-19.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EC7A-ECB5;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-20.eot);
  src: url(../assets/fonts/unicons-20.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-20.woff2) format("woff2"), url(../assets/fonts/unicons-20.woff) format("woff"), url(../assets/fonts/unicons-20.ttf) format("truetype"), url(../assets/fonts/unicons-20.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+ECB6-ECB9;
}
@font-face {
  font-family: unicons-line;
  src: url(../assets/fonts/unicons-9.eot);
  src: url(../assets/fonts/unicons-9.eot#iefix) format("embedded-opentype"), url(../assets/fonts/unicons-9.woff2) format("woff2"), url(../assets/fonts/unicons-9.woff) format("woff"), url(../assets/fonts/unicons-9.ttf) format("truetype"), url(../assets/fonts/unicons-9.svg#unicons) format("svg");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+EA1E-EA5A;
}
[class^=uil-]:before,
[class*=" uil-"]:before {
  font-family: unicons-line;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=uil-].flip-horizontal:before {
  transform: scaleX(-1);
}

[class*=uil-].flip-horizontal.rotate-90:before {
  transform: rotate(90deg) scaleX(-1);
}

[class*=uil-].flip-horizontal.rotate-180:before {
  transform: rotate(180deg) scaleX(-1);
}

[class*=uil-].flip-horizontal.rotate-270:before {
  transform: rotate(270deg) scaleX(-1);
}

[class*=uil-].flip-horizontal.flip-vertical:before {
  transform: scale(-1);
}

[class*=uil-].flip-horizontal.flip-vertical.rotate-90:before {
  transform: rotate(90deg) scale(-1);
}

[class*=uil-].flip-horizontal.flip-vertical.rotate-180:before {
  transform: rotate(180deg) scale(-1);
}

[class*=uil-].flip-horizontal.flip-vertical.rotate-270:before {
  transform: rotate(270deg) scale(-1);
}

[class*=uil-].flip-vertical:before {
  transform: scaleY(-1);
}

[class*=uil-].flip-vertical.rotate-90:before {
  transform: rotate(90deg) scaleY(-1);
}

[class*=uil-].flip-vertical.rotate-180:before {
  transform: rotate(180deg) scaleY(-1);
}

[class*=uil-].flip-vertical.rotate-270:before {
  transform: rotate(270deg) scaleY(-1);
}

[class*=uil-].rotate-90:before {
  transform: rotate(90deg);
}

[class*=uil-].rotate-180:before {
  transform: rotate(180deg);
}

[class*=uil-].rotate-270:before {
  transform: rotate(270deg);
}

.uil {
  cursor: pointer;
}

a .uil:hover, .tab_head_options .uil:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.uil-angle-down:before {
  content: "\eb3a";
}

.uil-angle-right:before {
  content: "\eb6d";
}

.uil-angle-right-b:before {
  content: "\eb9f";
}

.uil-arrow-down:before {
  content: "\ebe9";
}

.uil-arrow-right:before {
  content: "\ebb5";
}

.uil-arrow-up:before {
  content: "\ebb6";
}

.uil-bars:before {
  content: "\ebae";
}

.uil-book-open:before {
  content: "\eb17";
}

.uil-book-reader:before {
  content: "\ea12";
}

.uil-cancel:before {
  content: "\ead5";
}

.uil-caret-right:before {
  content: "\eb41";
}

.uil-chart:before {
  content: "\e8d0";
}

.uil-check-circle:before {
  content: "\e9c2";
}

.uil-copy:before {
  content: "\e951";
}

.uil-edit:before {
  content: "\e990";
}

.uil-edit-alt:before {
  content: "\e9a7";
}

.uil-estate:before {
  content: "\eca5";
}

.uil-file:before {
  content: "\e954";
}

.uil-file-edit:before {
  content: "\e943";
}

.uil-file-search-alt:before {
  content: "\e92f";
}

.uil-file-upload:before {
  content: "\e930";
}

.uil-file-upload-alt:before {
  content: "\e92b";
}

.uil-files-landscapes:before {
  content: "\e925";
}

.uil-folder:before {
  content: "\e942";
}

.uil-folder-lock:before {
  content: "\e939";
}

.uil-folder-minus:before {
  content: "\e933";
}

.uil-folder-open:before {
  content: "\ec51";
}

.uil-folder-plus:before {
  content: "\e961";
}

.uil-folder-slash:before {
  content: "\ebcf";
}

.uil-folder-upload:before {
  content: "\e94e";
}

.uil-game-structure:before {
  content: "\eb14";
}

.uil-image-search:before {
  content: "\ea44";
}

.uil-list-ul:before {
  content: "\ebd6";
}

.uil-minus:before {
  content: "\e983";
}

.uil-minus-circle:before {
  content: "\e994";
}

.uil-moon:before {
  content: "\ea8b";
}

.uil-plus:before {
  content: "\e98c";
}

.uil-presentation-check:before {
  content: "\e913";
}

.uil-refresh:before {
  content: "\eaea";
}

.uil-search-plus:before {
  content: "\e974";
}

.uil-setting:before {
  content: "\ec60";
}

.uil-shield-check:before {
  content: "\e852";
}

.uil-shield:before {
  content: "\e873";
}

.uil-stop-circle:before {
  content: "\ea92";
}

.uil-sun:before {
  content: "\e9cc";
}

.uil-trash:before {
  content: "\e989";
}

.uil-truck-loading:before {
  content: "\e9de";
}

.uil-upload:before {
  content: "\eaed";
}
